.mainHeader {
    .cardStyle {
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
        border-radius: 0px;
        margin-bottom: 10px;
    }

    .colImage {
        text-align: center;
    }

    .colHeaderText {
        text-align: center;
        margin: 6px 0px 0px 0px;
    }
}
